nav {
	display: flex;
	width: 200px;
	justify-content: space-around;
}

h2 {
	margin-left: 10px;
}

.animal {
	display: flex;
	width: 200px;
	padding: 10px;
	margin: 20px 10px;
	justify-content: space-around;
	background-color: lightblue;
}
